* {
    margin: 0;
    box-sizing: border-box;
}
#svelte {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #e0e0e0;
}

button {
    cursor: pointer;
}
button[disabled] {
    cursor: auto;
}
button, input {
    border: none;
    border-radius: 4px;
    padding: 0px 4px;
    text-align: center;
}

label .btn-like + input[type=file] {
    width: 0;
    padding: 0;
}
label .btn-like {
    border: 1px solid grey;
    background: #F9F9F9;
    border-radius: 4px;
    padding: 4px 8px;
    text-align: center;
    width: max-content;
    cursor: pointer;
    font-family: sans-serif;
}